@model Rating

<button onclick="document.getElementById('id01').style.display='block'">Delete</button>

<div id="id01" class="modal">

    <form class="modal-content" action="/action_page.php">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
        <div class="container">
            <h1>Delete Rating</h1>
            <p>Are you sure you want to delete this rating?</p>
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            
            <br /><br /><br /><br />
            <div class="clearfix">
            </div>
        </div>
    </form>

    <br />
</div>

<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">~Details about rating~</div>
    <div class="card-body text-dark">
        <ul class="card-text">
            <li>Id: @Model.Id</li>
            <li>Name Of Rater: @Model.NameOfRater</li>
            <li>Rate Number: @Model.RateNumber</li>
            <li>Feedback: @Model.Feedback</li>
            <li>Time: @Model.Time</li>
        </ul>
    </div>
</div>

<form asp-action="Delete">
    <input class="btn btn-outline-light" type="submit" value="Delete" />
</form>
<form asp-action="Index">
    <input class="btn btn-outline-light" type="submit" value="Return" />
</form>
