@model Rating
<form asp-action="Index">
    <input class="btn btn-outline-light" type="submit" value="Return"/>
</form>
<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">~Details about rating~</div>
    <div class="card-body text-dark">
        <ul class="card-text">
            <li>Id: @Model.Id</li>
            <li>Name Of Rater: @Model.NameOfRater</li>
            <li>Rate Number: @Model.RateNumber</li>
            <li>Feedback: @Model.Feedback</li>
            <li>Time: @Model.Time</li>
        </ul>
    </div>
</div>

<form asp-action="Delete">
    <input class="btn btn-outline-light" type="submit" value="Delete" onclick="document.getElementById('id01').style.display='none'" />
</form>
