@model Rating
<ul>
    <li>Id: @Model.Id</li>
    <li>Name Of Rater: @Model.NameOfRater</li>
    <li>Rate Number: @Model.RateNumber</li>
    <li>Feedback: @Model.Feedback</li>
    <li>Time: @Model.Time</li>
</ul>