@model List<Rating>
<button class="btn btn-outline-light" onclick="document.getElementById('id01').style.display='block'">More about...</button>
<div id="id01" class="modal">
    <form class="modal-content">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
        <div class="container">
            <h3>Rating page</h3>
            <p>Enjoying Toki?</p>
            <img src="/Images/Toki.png"/>
            <br />
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Rate us</button>
            <div class="clearfix">
            </div>
        </div>
    </form>
    <br />
</div>
<a asp-action="Create" class="btn btn-outline-light" role="button">Create New</a>
<a asp-action="Search" class="btn btn-outline-light" role="button">Search</a>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="table-info">
            <th>Id</th>
            <th>Name Of Rater</th>
            <th>Rate Number</th>
            <th>Feedback</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var rating in Model)
        {
        <tr class="table-active">
            <td>@rating.Id</td>
            <td>@rating.NameOfRater</td>
            <td>@rating.RateNumber</td>
            <td>@rating.Feedback</td>
            <td>@rating.Time</td>
            <td class="table-warning">
                <a asp-action="Details" asp-route-id="@rating.Id" class="btn btn-dark" role="button">Info</a>
                <a asp-action="Edit" asp-route-id="@rating.Id"class="btn btn-dark" role="button">Edit</a>
                <a asp-action="Delete" asp-route-id="@rating.Id"class="btn btn-dark" role="button">Delete</a>
            </td>
        </tr>
        }

    </tbody>
</table>
@if (Model.Count() != 0)
{
    <th>
        Average of ratings is @Model.Average(r => r.RateNumber).ToString("0.00")
    </th>
}