@model List<Rating>
<form asp-action="Search">
    <input name="query" />
    <input class="btn btn-outline-light btn-sm" type="submit" value="Search"/>
</form>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="table-info">
            <th>Id</th>
            <th>Name Of Rater</th>
            <th>Rate Number</th>
            <th>Feedback</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var rating in Model)
        {
        <tr class="table-active">
            <td>@rating.Id</td>
            <td>@rating.NameOfRater</td>
            <td>@rating.RateNumber</td>
            <td>@rating.Feedback</td>
            <td>@rating.Time</td>
        </tr>
        }

    </tbody>
</table>
<form asp-action="Index">
    <input class="btn btn-outline-light" type="submit" value="Return"/>
</form>